<header>
  <a href="/" >
    <img src="/img/guia.png" alt="Logo Guia do Programador"/>
  </a>

  <nav>
    <ul>
      <li><a href="/questions">Home</a></li>
      <li><a href="/makequestion">Perguntar</a></li>
      <li>
        <button class="btn">Login</button>
      </li>
    </ul>
  </nav>
</header>